# PHY0, U3

LOCATE COMP "rgmii_tx_clk" SITE "L1";
LOCATE COMP "rgmii_txd[0]" SITE "M2";
LOCATE COMP "rgmii_txd[1]" SITE "M1";
LOCATE COMP "rgmii_txd[2]" SITE "P1";
LOCATE COMP "rgmii_txd[3]" SITE "R1";
LOCATE COMP "rgmii_tx_ctl" SITE "L2";
LOCATE COMP "rgmii_rx_clk" SITE "J1";
LOCATE COMP "rgmii_rxd[0]" SITE "K2";
LOCATE COMP "rgmii_rxd[1]" SITE "J3";
LOCATE COMP "rgmii_rxd[2]" SITE "K1";
LOCATE COMP "rgmii_rxd[3]" SITE "K3";
LOCATE COMP "rgmii_rx_ctl" SITE "J2";
LOCATE COMP "mdio_scl" SITE "R5";
LOCATE COMP "mdio_sda" SITE "T4";
LOCATE COMP "phy_resetn" SITE "R6";

IOBUF PORT "rgmii_tx_clk"  IO_TYPE=LVCMOS33;
IOBUF PORT "rgmii_txd[0]"  IO_TYPE=LVCMOS33;
IOBUF PORT "rgmii_txd[1]"  IO_TYPE=LVCMOS33;
IOBUF PORT "rgmii_txd[2]"  IO_TYPE=LVCMOS33;
IOBUF PORT "rgmii_txd[3]"  IO_TYPE=LVCMOS33;
IOBUF PORT "rgmii_tx_ctl"  IO_TYPE=LVCMOS33;
IOBUF PORT "rgmii_rx_clk"  IO_TYPE=LVCMOS33;
IOBUF PORT "rgmii_rxd[0]"  IO_TYPE=LVCMOS33;
IOBUF PORT "rgmii_rxd[1]"  IO_TYPE=LVCMOS33;
IOBUF PORT "rgmii_rxd[2]"  IO_TYPE=LVCMOS33;
IOBUF PORT "rgmii_rxd[3]"  IO_TYPE=LVCMOS33;
IOBUF PORT "rgmii_rx_ctl"  IO_TYPE=LVCMOS33;
IOBUF PORT "mdio_scl"      IO_TYPE=LVCMOS33;
IOBUF PORT "mdio_sda"      OPENDRAIN=ON IO_TYPE=LVCMOS33;
IOBUF PORT "phy_resetn"    IO_TYPE=LVCMOS33;


# CLOCK

LOCATE COMP "osc25m" SITE "P6";
#IOBUF PORT "osc25m" IO_TYPE=LVCMOS33;

# USER IO

LOCATE COMP "led" SITE "T6";
IOBUF PORT "led" OPENDRAIN=ON IO_TYPE=LVCMOS33;
LOCATE COMP "button" SITE "R7";
IOBUF PORT "button" IO_TYPE=LVCMOS33;

# PANEL

LOCATE COMP "A" SITE "N5";
LOCATE COMP "B" SITE "N3";
LOCATE COMP "C" SITE "P3";
LOCATE COMP "D" SITE "P4";
LOCATE COMP "E" SITE "N4";
LOCATE COMP "CLK" SITE "M3";
LOCATE COMP "LAT" SITE "N1";
LOCATE COMP "OE" SITE "M4";

IOBUF PORT "A" IO_TYPE=LVCMOS33;
IOBUF PORT "B" IO_TYPE=LVCMOS33;
IOBUF PORT "C" IO_TYPE=LVCMOS33;
IOBUF PORT "D" IO_TYPE=LVCMOS33;
IOBUF PORT "E" IO_TYPE=LVCMOS33;
IOBUF PORT "CLK" IO_TYPE=LVCMOS33;
IOBUF PORT "LAT" IO_TYPE=LVCMOS33;
IOBUF PORT "OE" IO_TYPE=LVCMOS33;

#Connector J1
LOCATE COMP "R0[0]" SITE "C4";
LOCATE COMP "G0[0]" SITE "D4";
LOCATE COMP "B0[0]" SITE "E4";
LOCATE COMP "R1[0]" SITE "D3";
LOCATE COMP "G1[0]" SITE "F5";
LOCATE COMP "B1[0]" SITE "E3";

IOBUF PORT "R0[0]" IO_TYPE=LVCMOS33;
IOBUF PORT "G0[0]" IO_TYPE=LVCMOS33;
IOBUF PORT "B0[0]" IO_TYPE=LVCMOS33;
IOBUF PORT "R1[0]" IO_TYPE=LVCMOS33;
IOBUF PORT "G1[0]" IO_TYPE=LVCMOS33;
IOBUF PORT "B1[0]" IO_TYPE=LVCMOS33;

#Connector J2
LOCATE COMP "R0[1]" SITE "F1";
LOCATE COMP "G0[1]" SITE "F2";
LOCATE COMP "B0[1]" SITE "G2";
LOCATE COMP "R1[1]" SITE "G1";
LOCATE COMP "G1[1]" SITE "H2";
LOCATE COMP "B1[1]" SITE "H3";

IOBUF PORT "R0[1]" IO_TYPE=LVCMOS33;
IOBUF PORT "G0[1]" IO_TYPE=LVCMOS33;
IOBUF PORT "B0[1]" IO_TYPE=LVCMOS33;
IOBUF PORT "R1[1]" IO_TYPE=LVCMOS33;
IOBUF PORT "G1[1]" IO_TYPE=LVCMOS33;
IOBUF PORT "B1[1]" IO_TYPE=LVCMOS33;

#LOCATE COMP "R0[1]" SITE "F1;
#LOCATE COMP "G0[1]" SITE "F2;
#LOCATE COMP "B0[1]" SITE "G2;
#LOCATE COMP "R1[1]" SITE "G1;
#LOCATE COMP "G1[1]" SITE "H2;
#LOCATE COMP "B1[1]" SITE "H3;

#Connector J3
LOCATE COMP "R0[2]" SITE "B1";
LOCATE COMP "G0[2]" SITE "C2";
LOCATE COMP "B0[2]" SITE "C1";
LOCATE COMP "R1[2]" SITE "D1";
LOCATE COMP "G1[2]" SITE "E2";
LOCATE COMP "B1[2]" SITE "E1";

IOBUF PORT "R0[2]" IO_TYPE=LVCMOS33;
IOBUF PORT "G0[2]" IO_TYPE=LVCMOS33;
IOBUF PORT "B0[2]" IO_TYPE=LVCMOS33;
IOBUF PORT "R1[2]" IO_TYPE=LVCMOS33;
IOBUF PORT "G1[2]" IO_TYPE=LVCMOS33;
IOBUF PORT "B1[2]" IO_TYPE=LVCMOS33;

#Connector J5
LOCATE COMP "R0[3]" SITE "T13";
LOCATE COMP "G0[3]" SITE "R12";
LOCATE COMP "B0[3]" SITE "R13";
LOCATE COMP "R1[3]" SITE "R14";
LOCATE COMP "G1[3]" SITE "T14";
LOCATE COMP "B1[3]" SITE "P12";

IOBUF PORT "R0[3]" IO_TYPE=LVCMOS33;
IOBUF PORT "G0[3]" IO_TYPE=LVCMOS33;
IOBUF PORT "B0[3]" IO_TYPE=LVCMOS33;
IOBUF PORT "R1[3]" IO_TYPE=LVCMOS33;
IOBUF PORT "G1[3]" IO_TYPE=LVCMOS33;
IOBUF PORT "B1[3]" IO_TYPE=LVCMOS33;

#Connector J6
LOCATE COMP "R0[4]" SITE "R15";
LOCATE COMP "G0[4]" SITE "T15";
LOCATE COMP "B0[4]" SITE "P13";
LOCATE COMP "R1[4]" SITE "P14";
LOCATE COMP "G1[4]" SITE "N14";
LOCATE COMP "B1[4]" SITE "H15";

IOBUF PORT "R0[4]" IO_TYPE=LVCMOS33;
IOBUF PORT "G0[4]" IO_TYPE=LVCMOS33;
IOBUF PORT "B0[4]" IO_TYPE=LVCMOS33;
IOBUF PORT "R1[4]" IO_TYPE=LVCMOS33;
IOBUF PORT "G1[4]" IO_TYPE=LVCMOS33;
IOBUF PORT "B1[4]" IO_TYPE=LVCMOS33;

#Connector J7
LOCATE COMP "R0[5]" SITE "G16";
LOCATE COMP "G0[5]" SITE "H14";
LOCATE COMP "B0[5]" SITE "G15";
LOCATE COMP "R1[5]" SITE "F15";
LOCATE COMP "G1[5]" SITE "F16";
LOCATE COMP "B1[5]" SITE "E16";

IOBUF PORT "R0[5]" IO_TYPE=LVCMOS33;
IOBUF PORT "G0[5]" IO_TYPE=LVCMOS33;
IOBUF PORT "B0[5]" IO_TYPE=LVCMOS33;
IOBUF PORT "R1[5]" IO_TYPE=LVCMOS33;
IOBUF PORT "G1[5]" IO_TYPE=LVCMOS33;
IOBUF PORT "B1[5]" IO_TYPE=LVCMOS33;

#Connector J8
LOCATE COMP "CLK_IN"    SITE "D16"; #R0
LOCATE COMP "CLK_25"   SITE "E15"; #G0
LOCATE COMP "CLK_PANEL" SITE "C16"; #B0
LOCATE COMP "RES1" SITE "B16";
LOCATE COMP "RES2" SITE "C15";
LOCATE COMP "RES3" SITE "B15";

IOBUF PORT "CLK_IN" IO_TYPE=LVCMOS33;
IOBUF PORT "CLK_25" IO_TYPE=LVCMOS33;
IOBUF PORT "CLK_PANEL" IO_TYPE=LVCMOS33;
IOBUF PORT "RES1" IO_TYPE=LVCMOS33;
IOBUF PORT "RES2" IO_TYPE=LVCMOS33;
IOBUF PORT "RES3" IO_TYPE=LVCMOS33;
